@page "/"

@using System;
@using Twilio;
@using Twilio.Rest.Api.V2010.Account;

<h1>K-Donation Portal</h1>

<div class="c9">
        <p>The <b>online donation portal</b> makes it easy for anyone to make a donation to the campaigns they support.</p> 

      </div>
<div style="background-image: url('Img/donationBg.jpg');"></div>

@code {
}